<!DOCTYPE html>
<html>
<head>
  <title>BcmsBitly</title>
  <%= stylesheet_link_tag    "bcms_bitly/application", :media => "all" %>
  <%= javascript_include_tag "bcms_bitly/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
